[submodule "themes/themes/PolyRhythmic"]
	path = themes/themes/PolyRhythmic
	url = https://github.com/wonyoung-jang/hugo-PolyRhythmic.git
[submodule "themes/PolyRhythmic"]
	path = themes/PolyRhythmic
	url = https://github.com/wonyoung-jang/hugo-PolyRhythmic.git
