{{ partial "header.html" . }}

<article class="post">

  {{ partial "postheader.html" . }}

  {{/* insert table of contents at top when available */}}
  {{ if .TableOfContents }}
    <div class="toc-box prerequisites">
      <details open>
        <summary>Contents</summary>
        {{ .TableOfContents }}
      </details>
    </div>
  {{ end }}
  <div class="content"> {{ .Content }} </div>

  {{ partial "postfooter.html" . }}
</article>

{{ partial "related-content.html" . }}
{{ partial "footer.html" . }}
