{{ partial "header.html" . }}

<article class="post">

  {{ partial "postheader.html" . }}

  {{/* insert table of contents sidebar when available */}}
  {{ if .TableOfContents }}
    <div class="post-body-with-toc">
      <div class="content">
        {{ .Content }}
      </div>
      {{ .TableOfContents }}
    </div>
  {{ else }}
    <div class="content"> {{ .Content }} </div>
  {{ end }}

  {{ partial "postfooter.html" . }}
</article>

{{ partial "related-content.html" . }}
{{ partial "footer.html" . }}
